cmake-*
*.o
.idea/
a.out
*.zip
readme.txt
testimages
testlabels
trainingimages
traininglabels
libbayes-tests
.vscode/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
naivebayes
libbayes/src/liblibbayes.a
